<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
        </div>

        <div class="field">
          <label>Current Level of Study</label>
          <select
            name="level"
            ng-model="user.profile.levelOfStudy">
            <option value="">Level of Study</option>
            <option value="High School">High School</option>
            <option value="Undergaduate">Undergaduate</option>
            <option value="Graduate">Graduate</option>
          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>
       
        <div class="field">
          <label>Ethnicity</label>
          <select
            name="ethnicity"
            ng-model="user.profile.ethnicity">
            <option value="">Ethnicity</option>
            <option value="I">American Indian or Alaskan Native</option>
            <option value="A">Asian / Pacific Islander</option>
            <option value="B">Black or African American</option>
            <option value="H">Hispanic</option>
            <option value="W">White / Caucasian</option>
            <option value="M">Multiple ethnicity / Other</option>
            <option value="N">Prefer not to answer</option>
          </select>
        </div>
      
        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 placeholder="Beginner, Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
          <label>
              What would you like to learn or get out of ShellHacks 2018? (optional)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field"
             ng-hide="isMitStudent">
          <p>
            Because of limitations imposed by or school, we are not legally allowed to host
            minors (those under 18) for ShellHacks 2018. Checking the box below affirms that you are or will be 18 years or older by September 14th, 2018.
          </p>
          <p>
            <strong>
            We will be checking ID. If you are a minor, you will be turned away at the door.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
          </div>
        </div>

        <br>

        <div class="field">
          <label> What's your phone number? (required) </label>
          <p>
            We need this in case we need to get ahold of you!
          </p>
          <input type="tel"
                 name="phone"
                 ng-model="user.profile.phoneNumber"
                 placeholder="(123) - 555 - 1234"
                 required>
        </div>

        <div class="field">
          <label> Dietary Restrictions </label>

          <p>
            If your restriction is not included here, please let us know in the additional notes at the bottom.
          </p>
          <p>
            We'll make sure you get fed :)
          </p>

        </div>

        <div class="inline fields">
          <div class="field"
            ng-repeat="(key, value) in dietaryRestrictions">

            <div class="ui checkbox">
              <input type="checkbox" ng-model="dietaryRestrictions[key]" id="diet-{{key}}"/>
              <label for="diet-{{key}}">{{key}}</label>
            </div>

          </div>
        </div>

        <div class="field">
          <label> Shirt Size (required) </label>
          <p>
            Let's get you some swag!
          </p>
          <select
            name="shirt"
            ng-model="user.profile.shirtSize"
            required>
            <option value="">Shirt Size</option>
            <option value="XS">Unisex X-Small</option>
            <option value="S">Unisex Small</option>
            <option value="M">Unisex Medium</option>
            <option value="L">Unisex Large</option>
            <option value="XL">Unisex X-Large</option>
            <option value="XXL">Unisex XX-Large</option>
            <option value="WXS">Women's X-Small</option>
            <option value="WS">Women's Small</option>
            <option value="WM">Women's Medium</option>
            <option value="WL">Women's Large</option>
            <option value="WXL">Women's X-Large</option>
            <option value="WXXL">Women's XX-Large</option>
          </select>
        </div>

        <div class="field">
          <label>
            Will you be needing hardware?
          </label>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="user.profile.wantsHardware" id="need-hardware">
            <label for="need-hardware"> Yes, I would like to use hardware in my hack. </label>
          </div>
        </div>

        <div
          class="field"
          ng-show="user.profile.wantsHardware">
          <label>
            What kind of hardware would be useful for you?
          </label>
          <p>
            We will have a hardware checkout, and we'll try our best to provide things that would be useful to you - however, we can't guarantee everything. We will publish a list of available hardware closer to the day of the event.
          </p>
          <input type="text" ng-model="user.profile.hardware">
        </div>


        <br>
        <br>

        <div class="divided title"> Skills & Accomplishments </div>

        <div class="field">
          <label> What are you studying? (required)</label>
          <div id="major" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="Computer Science, Product Design, Basket Weaving, etc." name="major" ng-model="user.profile.major">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label> Github </label>
          <input type="text"
                 name="github"
                 placeholder="https://github.com/foobar"
                 ng-model="user.profile.github">
        </div>

        <div class="field">
          <label> LinkedIn </label>
          <input type="text"
                 name="linkedin"
                 placeholder="https://linkedin.com/in/foobar"
                 ng-model="user.profile.linkedin">
        </div>

        <div class="field">
          <label> Resume (required) </label>
          <p>
            Upload a document outlining any skills or experience you'd like to share (ex. resume). PDF preferred!
          </p>
          <a
            target="_blank"
            href="https://www.dropbox.com/request/D5Z0h6fxIb5MhYoQJupa"
            class="ui pink button">
            Upload
          </a>
        </div>

        <br>
        <br>

        <div class="divided title">Travel</div>

        <div class="field">
          <p>
            As a reminder, our reimbursement policy is as follows:
          </p>
          <ul>
            <li> Up to $60 in gas dependent on mileage </li>
            <li> All cars must be filled with a minimum of 4 passengers </li>
            <li> All passengers must be attending the hackathon </li>
          </ul>
          <p>
            We’ll also be sending buses to select Florida schools so keep an eye out on your emails!
          </p>
        </div>

        <div class="field">
          <label> Will you be needing travel reimbursement? </label>
          <div class="ui checkbox">
            <input type="checkbox" id="travel-reimbursement" ng-model="user.profile.needsReimbursement">
            <label for="travel-reimbursement"> I will be needing travel reimbursement. </label>
          </div>
        </div>

        <div
          ng-show="user.profile.needsReimbursement">

          <div class="ui header">
            Mailing Address
          </div>

          <p>
            Travel reimbursement is processed and sent by check after the event. To expedite the reimbursement process and ensure that you receive your reimbursement as quickly as possible, make sure that your mailing address is accurate and you upload your receipts.
          </p>

          <div class="field">
            <label>Full Name</label>
            <input type="text"
                   name="name"
                   ng-model="user.profile.address.name">
          </div>

          <div class="field">
            <label> Address Line 1 - Street address, P.O. box, company name, c/o </label>
            <input
              type="text"
              name="addressLine1"
              ng-model="user.profile.address.line1">
          </div>

          <div class="field">
            <label> Address Line 2 - Apartment, suite, unit, building, floor, etc. </label>
            <input
              type="text"
              name="addressLine2"
              ng-model="user.profile.address.line2">
          </div>

          <div class="four fields">
            <div class="field">
              <label> City </label>
              <input
                type="text"
                name="city"
                ng-model="user.profile.address.city">
            </div>
            <div class="field">
              <label> State/Province/Region </label>
              <input
                type="text"
                name="state"
                ng-model="user.profile.address.state">
            </div>
            <div class="field">
              <label> ZIP </label>
              <input
                type="text"
                name="zip"
                ng-model="user.profile.address.zip">
            </div>
            <div class="field">
              <label> Country </label>
              <input
                type="text"
                name="country"
                ng-model="user.profile.address.country">
            </div>
          </div>

          <div class="field">
            <label> Travel Receipt </label>
            <p>
              We'll send an email later on how to claim your reimbursement, so <strong>please make sure you keep all your receipts!</strong>
            </p>
          </div>

        </div>

        <br>
        <br>

        <div class="divided title">Everything Else</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.profile.notes"></textarea>
          </div>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
